@page "/categorias/form/{Id:int?}"

<PageTitle>
    @Titulo
</PageTitle>

<h1>
    <i class="bi bi-list-task"></i>
    @Titulo
</h1>

<hr />


<EditForm method="post" Model="Categoria" OnValidSubmit="Save" FormName="form" Enhance>

    <DataAnnotationsValidator />

    <input type="hidden" name="Categoria.Id" value="@Id" />

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <InputText id="nombre" @bind-Value="Categoria.Nombre" class="form-control" />
        <ValidationMessage For="() => Categoria.Nombre" class="text-danger" />
    </div>

    <div class="d-flex justify-content-end">

        <a href="/categorias" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i>
            Voltar
        </a>

        <button type="submit" class="btn btn-primary ms-2">
            <i class="bi bi-check-circle"></i>
            Salvar Categoria
        </button>
    </div>

</EditForm>


@code {

    public string Titulo => Id != 0 ? "Editar Categoria" : "Criar Categoria";

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Categoria Categoria { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
            Categoria = await _categoriasRepository.Get(Id);
    }

    public async Task Save()
    {
        await _categoriasRepository.Upsert(Categoria);
        _navigation.NavigateTo("/categorias");
    }
}
