@page "/categorias"
@attribute [Authorize]

<PageTitle>Categorias</PageTitle>

<div class="d-flex">

    <h1 class='flex-grow-1'>
        <i class="bi bi-list-task"></i>
        Categorias
    </h1>

    <div>
        <a class="btn btn-primary" href="/categorias/form">
            <i class="bi bi-plus"></i> Añadir
        </a>
    </div>

</div>
<hr>

@if (lista is null)
{
    <h2>loading</h2>
}
else
{
    <div class="list-group">
        @foreach (var item in lista)
        {
            <a class="list-group-item list-group-item-action d-flex" href="/categorias/form/@item.Id">
                <span class='flex-grow-1'>
                    @item.Nombre
                </span>
            </a>
        }
    </div>
}


@code {

    List<Hermano> lista;
    
    protected override async Task OnInitializedAsync()
    {
        lista = await _categoriasRepository.GetAll();
    }
}
