@model Gasto

<div class="mb-2">
    <label asp-for="Fecha"></label>
    <input class="form-control" asp-for="Fecha" required autofocus  >
    <span asp-validation-for='Fecha' class='text-danger'></span>
</div>

<div class="mb-2">
    <label asp-for="CategoriaId"></label>
    <select class="form-select" asp-for="CategoriaId" asp-items='(SelectList)ViewData["selectCategorias"]'>
        <option value=''>Selecione</option>
    </select>
    <span asp-validation-for='CategoriaId' class='text-danger'></span>
</div>

<div class="mb-2">
    <label asp-for="Nombre"></label>
    <input class="form-control" asp-for="Nombre">
    <span asp-validation-for='Nombre' class='text-danger'></span>
</div>

<div class="mb-2">
    <label asp-for="Valor"></label>
    <input class="form-control" asp-for="Valor" type="number" required>
    <span asp-validation-for='Valor' class='text-danger'></span>
</div>
