@{
    ViewData["Title"] = "Entrar";
}

<div class="text-center">
    <h1> Identifique-se! </h1>

    <form method="POST">

        <div class='form-group'>
            <input id='senha' name='senha' class='form-control' placeholder="Senha" required type="password">
        </div>

        <button class='btn btn-primary mt-2'>
            Entrar
        </button>
    </form>
    
</div>
