@model List<Tuple<string, decimal>>
@{
    ViewData["Title"] = "Início";
}


<form class="d-flex">
    
    <h1 class="flex-grow-1">
        Resumo de
    </h1>

    <div>
        <input type="month" class="form-control" name="mesAno" value='@ViewData["mesAno"]'
            onchange='this.closest("form").submit()' />
    </div>

</form>

<hr>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @item.Item1 - R$ @item.Item2.ToString("N2")
        </li>
    }

    <li class="list-group-item list-group-item-success">
            Total - @Model.Sum(s=>s.Item2).ToString("N2")
    </li>

</ul>

<div  class='d-flex justify-content-end mt-4'>
    <a asp-action="Anadir" asp-controller="Gastos" class='btn btn-primary'>
        <i class="bi bi-coin"></i>
        Anadir Gasto
    </a>
</div>