<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            SolfaTrello
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i> Início
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tareas">
                <i class="bi bi-list-task"></i>
                Tareas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hermanos">
                <i class="bi bi-people-fill"></i>
                Hermanos
            </NavLink>
        </div>

        <AuthorizeView>

            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <i class="bi bi-door-open"></i>
                        SAIR
                    </NavLink>
                </div>
            </Authorized>


            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-door-open"></i>
                        ENTRAR
                    </NavLink>
                </div>
            </NotAuthorized>

            <Authorizing>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <i class="bi bi-door-open"></i>
                        CARGANDO...
                    </NavLink>
                </div>
            </Authorizing>
        </AuthorizeView>




    </nav>
</div>
