@model Categoria

<div class="mb-2">
    <label asp-for="Nombre"></label>
    <input class="form-control" asp-for="Nombre" required autofocus>
    <span asp-validation-for='Nombre' class='text-danger'></span>
</div>