@model Categoria
@{
    ViewData["Title"] = "Editar Categoria";
}

<h1 class='flex-grow-1'>
    <i class="bi bi-list-task"></i>
    @ViewData["Title"]
</h1>
<hr>

<form asp-action="Editar">

    <input type="hidden" asp-for="Id" />

    <partial name="_Form" />

    
    <div class="d-flex justify-content-end">
        
        <a asp-action="Index" class="btn btn-light"> 
            <i class="bi bi-arrow-left"></i>
            Volver
        </a>

        <button type="submit" class="btn btn-primary ms-2"> 
            <i class="bi bi-check-lg"></i>
            Guardar Categoria
        </button>

    </div>

</form>